<div class="card">
    <p>{{ message }}</p>
    <div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" id="password">
        </div>
        <button class="btn btn-primary" (click)="connecter()">Connexion</button>
        <a [routerLink]="['/inscription']">Pas encore de compte ? Cliquez ici</a>
    </div>
</div>